body{
	width: 55vw;
	height: 3000px; 
  background: linear-gradient(to bottom right, #FF99CC 0%, #663399 51%, #8D8DD7 85%);
  margin:auto;
   font-family:  'Verdana', monospace;
   text-align: justify;
   
}

p{  
	
   
		font-size: 1.2em;
		
}

}

div{
    max-width: 600px;
}
